# This directory is never to be released to students; if you want to
# make files here avaiable to students, first copy them onto
# www.cl.cam.ac.uk/teacning/exams/solutions/
Require group wednesday undergrad-directors-of-studies cl-supervisors
